// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-header {
background-image: linear-gradient(#78517b, #68466b);
color: white;
font-weight: 700;
}

.center{
	margin-top: 50%;
	margin-bottom: 50%;
}

.mybtn{
background-image: linear-gradient(#78517b, #68466b);
color: white;
font-weight: 500;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: radial-gradient(circle, #644166, #310f33);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card{
border: none;
}

#username::before
{
  color:red;
  position: relative;
  right: -5px;
  content: "f007";    
}

.form-control-feedback {
    position: absolute;
    top: .5rem;
    right: 1.5rem;
    z-index: 2;
    display: block;   
    text-align: center;
    pointer-events: none;
}

.input-img{
color: #b0b0b0;
}
 #app{
 height:100%;
 }
 
 .mid {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  -ms-transform: translate(50%, -35%);
  transform: translate(50%, -35%);
}